name: Get latest news

on:
  workflow_dispatch:
  schedule:
    - cron: '30 18 * * *'
    - cron: '30 21 * * *'
    - cron: '30 00 * * *'
    - cron: '30 03 * * *'
    - cron: '30 06 * * *'
    - cron: '30 09 * * *'
    - cron: '30 12 * * *'
    - cron: '30 15 * * *'

  
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |-
          python -m pip install --upgrade pip
          pip install newsapi-python
    - name : Run script
      env: 
          FIRSTAPI: ${{ secrets.FIRSTAPI }}
          SECONDAPI: ${{ secrets.SECONDAPI }}
      run: |-
          python main.py
    - name: Commit and push
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
